In [1]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.DataFrame({'age':[25,30,35,40,45]})

bins=[20,30,40,50]

labels = ['Young','Middle Aged','Senior']

df['age_group'] = pd.cut(df['age'], bins= bins, labels= labels,right=False)

print(df)

   age    age_group
0   25        Young
1   30  Middle Aged
2   35  Middle Aged
3   40       Senior
4   45       Senior

In [3]:
df1 = pd.DataFrame({'number':np.random.randint(1,100,10)})

df1['bins'] = pd.cut(x=df1['number'],bins=[1,20,40,60,80,100],labels=['1 to 20','21 to 40','41to 60','61 to 80','81 to 100'], right=False)

print(df1)

print(df1['bins'].unique())

   number       bins
0      43    41to 60
1      29   21 to 40
2      84  81 to 100
3      91  81 to 100
4      75   61 to 80
5      38   21 to 40
6      56    41to 60
7      76   61 to 80
8       3    1 to 20
9      63   61 to 80
['41to 60', '21 to 40', '81 to 100', '61 to 80', '1 to 20']
Categories (5, object): ['1 to 20' < '21 to 40' < '41to 60' < '61 to 80' < '81 to 100']

In [4]:
df = pd.DataFrame({'income':[50000,55000,60000,65000,70000]})

bins = [45000,55000,65000,75000]

bins_names = ['Low','Middle','High']

df['Income_group'] = pd.cut(df['income'], bins= bins, labels= bins_names,right=False)

print(df)

   income Income_group
0   50000          Low
1   55000       Middle
2   60000       Middle
3   65000         High
4   70000         High

In [5]:
data = {'Month': ['Jan', 'Jan', 'Jan', 'Feb', 'Feb', 'Feb', 'Mar', 'Mar', 'Mar'],
        'Year': [2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020],
        'Expense Type': ['Rent', 'Food', 'Transportation', 'Rent', 'Food', 'Transportation', 'Rent', 'Food', 'Transportation'],
        'Expense Amount': [1000, 500, 200, 900, 400, 150, 800, 450, 175]}
df = pd.DataFrame(data)

pivot_table = df.pivot(index='Month',columns='Expense Type', values='Expense Amount')

print(pivot_table)

Expense Type  Food  Rent  Transportation
Month
Feb            400   900             150
Jan            500  1000             200
Mar            450   800             175

In [6]:
data = { 'Month': ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
        'Year':[2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020],
        'Product': ['A','A','A','B','B','B','C','C','C','D','D','D'],
        'Sales': [100,200,150,250,200,175,300,350,400,450,500,550]
}
# Create a Pandas DataFrame from the data dictionary
df =pd.DataFrame(data)

pivot_table =  df.pivot(index='Month',columns='Product', values='Sales')
print(pivot_table)

Product      A      B      C      D
Month
Apr        NaN  250.0    NaN    NaN
Aug        NaN    NaN  350.0    NaN
Dec        NaN    NaN    NaN  550.0
Feb      200.0    NaN    NaN    NaN
Jan      100.0    NaN    NaN    NaN
Jul        NaN    NaN  300.0    NaN
Jun        NaN  175.0    NaN    NaN
Mar      150.0    NaN    NaN    NaN
May        NaN  200.0    NaN    NaN
Nov        NaN    NaN    NaN  500.0
Oct        NaN    NaN    NaN  450.0
Sep        NaN    NaN  400.0    NaN

In [7]:
data = {'Loan ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        'Loan Amount': [10000, 20000, 15000, 25000, 20000, 17500, 30000, 35000, 40000, 45000],
        'Interest Rate': [0.05, 0.06, 0.07, 0.05, 0.04, 0.06, 0.05, 0.04, 0.07, 0.06],
        'Loan Term': [36, 60, 48, 36, 60, 36, 36, 48, 60, 36],
        'Borrower Credit Score': [700, 750, 675, 725, 700, 650, 750, 775, 690, 725]}
df = pd.DataFrame(data)

grouped = df.groupby('Interest Rate')

grouped_mean = grouped.mean()

print(grouped_mean)

               Loan ID   Loan Amount  Loan Term  Borrower Credit Score
Interest Rate
0.04               6.5  27500.000000       54.0             737.500000
0.05               4.0  21666.666667       36.0             725.000000
0.06               6.0  27500.000000       44.0             708.333333
0.07               6.0  27500.000000       54.0             682.500000

In [8]:
grouped = df.groupby(['Interest Rate','Loan Term'])

grouped_mean = grouped.mean()

print(grouped_mean)

                         Loan ID   Loan Amount  Borrower Credit Score
Interest Rate Loan Term
0.04          48             8.0  35000.000000                  775.0
              60             5.0  20000.000000                  700.0
0.05          36             4.0  21666.666667                  725.0
0.06          36             8.0  31250.000000                  687.5
              60             2.0  20000.000000                  750.0
0.07          48             3.0  15000.000000                  675.0
              60             9.0  40000.000000                  690.0

In [9]:
# First dataset
sales_data1 = {
    'Product ID': [1, 2, 3, 4, 5],
    'Product Name': ['Laptop', 'Smartphone', 'Tablet', 'Printer', 'Monitor'],
    'Sales Quantity': [10, 15, 20, 5, 12],
    'Revenue': [1000, 1500, 2000, 500, 1200]
}

df1 = pd.DataFrame(sales_data1)

# Second dataset
sales_data2 = {
    'Product ID': [1, 2, 4, 6, 7],
    'Region': ['North', 'South', 'West', 'East', 'North'],
    'Discount': [0.1, 0.15, 0.05, 0.05, 0.2]
}

df2 = pd.DataFrame(sales_data2)

# Merge the two datasets based on "Product ID"
merged_sales_data = pd.merge(df1, df2, on='Product ID')

print(merged_sales_data)

   Product ID Product Name  Sales Quantity  Revenue Region  Discount
0           1       Laptop              10     1000  North      0.10
1           2   Smartphone              15     1500  South      0.15
2           4      Printer               5      500   West      0.05

In [10]:
loan_data1={
    'Loan ID':[1,2,3,4,5],
    'Customer Name,':['John','Jane','Jim','Jill','Jack'],
    'Loan Amount':[10000,20000,15000,25000,18000],
    "Interest Rate":[0.05,0.06,0.07,0.01,0.06]   
}

df1=pd.DataFrame(loan_data1)


loan_data2={
    'Loan ID':[2,3,4,6,7],
    'Loan Purpose':['Education','Home Imporovment','Business','Vehicle','Personal'],
    'Loan Term':[5,10,15,20,25]
}

df2=pd.DataFrame(loan_data2)


result = pd.merge(df1,df2,on='Loan ID',how='left')

print(result)

   Loan ID Customer Name,  Loan Amount  Interest Rate      Loan Purpose  \
0        1           John        10000           0.05               NaN
1        2           Jane        20000           0.06         Education
2        3            Jim        15000           0.07  Home Imporovment
3        4           Jill        25000           0.01          Business
4        5           Jack        18000           0.06               NaN

   Loan Term
0        NaN
1        5.0
2       10.0
3       15.0
4        NaN

In [11]:
# Create two sample dataframes
df1 = pd.DataFrame({'Month': ['Jan', 'Feb', 'Mar'],
                    'Sales': [1000, 2000, 3000]})

df2 = pd.DataFrame({'Month': ['Apr', 'May', 'June'],
                    'Expenses': [100, 200, 300]})

# Concatenate the two dataframes
result = pd.concat([df1, df2], axis=1)

print(result)

  Month  Sales Month  Expenses
0   Jan   1000   Apr       100
1   Feb   2000   May       200
2   Mar   3000  June       300

In [12]:
# Create two sample dataframes
df1 = pd.DataFrame({'Month': ['Jan', 'Feb', 'Mar'],
                    'Sales': [1000, 2000, 3000]})

df2 = pd.DataFrame({'Month': ['Apr', 'May', 'June'],
                    'Expenses': [4000, 5000, 6000]})

df3 = pd.DataFrame({'Month': ['Jul','Aug','Sep'],
                    'Expenses': [7000, 8000, 9000]})

# Concatenate the two dataframes
result = pd.concat([df1, df2, df3], axis=1)

print(result)

  Month  Sales Month  Expenses Month  Expenses
0   Jan   1000   Apr      4000   Jul      7000
1   Feb   2000   May      5000   Aug      8000
2   Mar   3000  June      6000   Sep      9000

In [13]:
#ONE HOT ENCODING


# Sample data with categorical variables
data = {'fruit': ['apple', 'banana', 'orange', 'banana', 'apple', 'orange']}

# Create a dataframe from the sample data
df = pd.DataFrame(data)

# Perform one hot encoding on the 'fruit' column
df = pd.get_dummies(df, columns=['fruit'])

# Check the resulting dataframe
print(df)

   fruit_apple  fruit_banana  fruit_orange
0            1             0             0
1            0             1             0
2            0             0             1
3            0             1             0
4            1             0             0
5            0             0             1

As you can see, the fruit column has been transformed into three separate columns, one for each unique value in the original column. The new columns represent the presence or absence of each value and are indicated by 1s and 0s respectively.

# Label Encoding

In [15]:
from sklearn.preprocessing import LabelEncoder

data = {'fruit': ['apple', 'banana', 'orange', 'banana', 'apple', 'orange']}

df =pd.DataFrame(data)

encoder = LabelEncoder()

df['fruit'] = encoder.fit_transform(df['fruit'])

print(df)

   fruit
0      0
1      1
2      2
3      1
4      0
5      2

1. Make a pandas DataFrame with two dimentions of list

In [19]:
lst = [['Pandas', 25],
['is',30],['for', 26], ['Data Analysis',22]]


df = pd.DataFrame(lst, columns=['Tag','number'])
df1 = pd.DataFrame(lst)

In [20]:
print(df)
print(df1)

             Tag  number
0         Pandas      25
1             is      30
2            for      26
3  Data Analysis      22
               0   1
0         Pandas  25
1             is  30
2            for  26
3  Data Analysis  22

2. Creating DataFrame From Dictionary of lists

In [25]:
data = {'Area':['Array','Stack','Queue'],
        'Student_1':[20,21,19],
        'Student_2':[15,20,14]}

data1 = {'Area':['Array','Stack','Queue'],
        'Marks':[20,21,19]}

df = pd.DataFrame(data,index=['Cat_1','Cat_2','Cat_3'])


df1 = pd.DataFrame(data1)

print(df1)
print('\n')
print(df)
print('\n')
print(df.transpose())

    Area  Marks
0  Array     20
1  Stack     21
2  Queue     19


        Area  Student_1  Student_2
Cat_1  Array         20         15
Cat_2  Stack         21         20
Cat_3  Queue         19         14


           Cat_1  Cat_2  Cat_3
Area       Array  Stack  Queue
Student_1     20     21     19
Student_2     15     20     14

3. Creating pandas dataframe using list of lists.

In [26]:
data = [['DS', 'Linked_list', 10],
        ['DS', 'Stack', 9], 
        ['DS', 'Queue', 7],
        ['Algo', 'Greedy', 8], 
        ['Algo', 'DP', 6], 
        ['Algo', 'BackTrack', 5], ]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Category', 'Name', 'Marks'])
 
# print dataframe.
print(df)

  Category         Name  Marks
0       DS  Linked_list     10
1       DS        Stack      9
2       DS        Queue      7
3     Algo       Greedy      8
4     Algo           DP      6
5     Algo    BackTrack      5

In [28]:
data = [[1,5,10],[2,6,9],[3,7,8]]

df = pd.DataFrame(data)

print(df)


df.columns = ['Col_1','Col_2','Col_3']

print(df, '\n')

df = df.transpose()

print('The transposed DataFrame is- \n',df)

   0  1   2
0  1  5  10
1  2  6   9
2  3  7   8
   Col_1  Col_2  Col_3
0      1      5     10
1      2      6      9
2      3      7      8

The transposed DataFrame is-
         0  1  2
Col_1   1  2  3
Col_2   5  6  7
Col_3  10  9  8

4. Creating pandas DataFrame from list of tuples

In [33]:
data = [('Peter', 18,7),
        ('Riff',15,6),
        ('John',17,8),
        ('Michel',18,7),
        ('Sheli',17,5)]

df = pd.DataFrame(data,columns=['Name', 'Age','Score'])

print(df, '\n')


df1 = pd.DataFrame.from_records(data,columns=['Team', 'Age','Score'])

print(df1)

     Name  Age  Score
0   Peter   18      7
1    Riff   15      6
2    John   17      8
3  Michel   18      7
4   Sheli   17      5

     Team  Age  Score
0   Peter   18      7
1    Riff   15      6
2    John   17      8
3  Michel   18      7
4   Sheli   17      5

5. Creating pandas DataFrame from list of dicts

In [37]:
#method 1


data = [{'pandas':'dataframe', 'numpy':'array', 'kaggle':'notebook'}, {'pandas':10, 'numpy':20, 'kaggle':30}]

df = pd.DataFrame.from_records(data, index =['1','2'])

print(df,'\n')

#method 2

df = pd.DataFrame.from_dict(data)
print(df)

#method 3


df = pd.json_normalize(data)

print('\n',df)

      pandas  numpy    kaggle
1  dataframe  array  notebook
2         10     20        30

      pandas  numpy    kaggle
0  dataframe  array  notebook
1         10     20        30

       pandas  numpy    kaggle
0  dataframe  array  notebook
1         10     20        30

6. convert list of nested dictionary into pandas data frame

In [39]:
# List of nested dictionary initialization
list = [
        {
        "Student": [{"Exam": 90, "Grade": "a"},
                    {"Exam": 99, "Grade": "b"},
                    {"Exam": 97, "Grade": "c"},
                   ],
        "Name": "Paras Jain"
        },
        {
        "Student": [{"Exam": 89, "Grade": "a"},
                    {"Exam": 80, "Grade": "b"}
                   ],
        "Name": "Chunky Pandey"
        }
       ]
print(list)

# rows list initialization
rows = []  
# appending rows
for data in list:
    data_row = data['Student']
    time = data['Name']
    for row in data_row:
        row['Name']= time
        rows.append(row) 

# using data frame
df = pd.DataFrame(rows)
  
print(df,'\n')


#row initialization

rows=[]

for data in list:
    data_row = data["Student"]
    time = data['Name']
    for row in data_row:
        row['Name']= time
        rows.append(row) 

# using data frame
df = pd.DataFrame(rows)
  
print(df)

[{'Student': [{'Exam': 90, 'Grade': 'a'}, {'Exam': 99, 'Grade': 'b'}, {'Exam': 97, 'Grade': 'c'}], 'Name': 'Paras Jain'}, {'Student': [{'Exam': 89, 'Grade': 'a'}, {'Exam': 80, 'Grade': 'b'}], 'Name': 'Chunky Pandey'}]
   Exam Grade           Name
0    90     a     Paras Jain
1    99     b     Paras Jain
2    97     c     Paras Jain
3    89     a  Chunky Pandey
4    80     b  Chunky Pandey

   Exam Grade           Name
0    90     a     Paras Jain
1    99     b     Paras Jain
2    97     c     Paras Jain
3    89     a  Chunky Pandey
4    80     b  Chunky Pandey

In [ ]:
#try list comprehension approach

7. Clean the string data in the given pandas dataframe

In [40]:
import pandas as pd
# Create the dataframe
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
                   'Product':[' UMbreLla', '  maTress', 'BaDmintoN ', 'Shuttle'],
                   'Updated_Price':[1250, 1450, 1550, 400],
                   'Discount':[10, 8, 15, 10]})
  
# Print the dataframe
print(df)

        Date     Product  Updated_Price  Discount
0  10/2/2011    UMbreLla           1250        10
1  11/2/2011     maTress           1450         8
2  12/2/2011  BaDmintoN            1550        15
3  13/2/2011     Shuttle            400        10

In [41]:
def format_data(df):
    for i in range(df.shape[0]):
        #first we reassign the values to the product column
        # we first strip the whitespaces using strip() method
        # then we capitalize the first letter using capitalizaion function
        df.iat[i,1] = df.iat[i,1].strip().capitalize()
        #the capitalize() method returns a string where the first character is upper case

format_data(df)

print(df)

        Date    Product  Updated_Price  Discount
0  10/2/2011   Umbrella           1250        10
1  11/2/2011    Matress           1450         8
2  12/2/2011  Badminton           1550        15
3  13/2/2011    Shuttle            400        10

In [42]:
import pandas as pd
# Create the dataframe
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
                   'Product':[' UMbreLla', '  maTress', 'BaDmintoN ', 'Shuttle'],
                   'Updated_Price':[1250, 1450, 1550, 400],
                   'Discount':[10, 8, 15, 10]})
  
# Print the dataframe
print(df)

        Date     Product  Updated_Price  Discount
0  10/2/2011    UMbreLla           1250        10
1  11/2/2011     maTress           1450         8
2  12/2/2011  BaDmintoN            1550        15
3  13/2/2011     Shuttle            400        10

In [43]:
df['Product'] = df['Product'].apply(lambda x: x.strip().capitalize())

print(df)

        Date    Product  Updated_Price  Discount
0  10/2/2011   Umbrella           1250        10
1  11/2/2011    Matress           1450         8
2  12/2/2011  Badminton           1550        15
3  13/2/2011    Shuttle            400        10

#### reindexing of dataframe

In [44]:
column = ['a','b','c','d','e']
index = ['A','B','C','D','E']

df1 = pd.DataFrame(np.random.rand(5,5),columns=column, index= index)

In [45]:
print(df1)

          a         b         c         d         e
A  0.303365  0.481289  0.402994  0.934662  0.159820
B  0.159561  0.161219  0.769658  0.823251  0.390539
C  0.661944  0.607131  0.150952  0.985098  0.677170
D  0.379315  0.666416  0.473696  0.476067  0.414470
E  0.487847  0.657828  0.878976  0.311978  0.792442

In [46]:
df1.reindex(['B','D','A','C','E'])

          a         b         c         d         e
B  0.159561  0.161219  0.769658  0.823251  0.390539
D  0.379315  0.666416  0.473696  0.476067  0.414470
A  0.303365  0.481289  0.402994  0.934662  0.159820
C  0.661944  0.607131  0.150952  0.985098  0.677170
E  0.487847  0.657828  0.878976  0.311978  0.792442

In [47]:
#method 2

new_index =['U','A','B','C','Z']

print(df1.reindex(new_index))

          a         b         c         d         e
U       NaN       NaN       NaN       NaN       NaN
A  0.303365  0.481289  0.402994  0.934662  0.159820
B  0.159561  0.161219  0.769658  0.823251  0.390539
C  0.661944  0.607131  0.150952  0.985098  0.677170
Z       NaN       NaN       NaN       NaN       NaN

In [49]:
column = ['a','b','c','d','e']
index = ['A','B','C','D','E']

df1 = pd.DataFrame(np.random.rand(5,5),columns=column, index= index)


column = ['e','a','b','c','d']

print(df1.reindex(column, axis='column'))

ValueError: No axis named column for object type DataFrame

Mapping External values to dataframe values in pandas

In [ ]:
initial_data = {'First_name': ['Ram','Mohan', 'Tina', 'Jeetu', 'Meera'],
                'Last_name':['Kumar','Sharma','Ali','Gandhi','Bihar'],
                'Age': [42,52,36,21,23],
                'City':['Mumbai','Noida','Pune','Delhi','Bihar']}

df = pd.DataFrame(initial_data)