In [1]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.DataFrame({'age':[25,30,35,40,45]})

bins=[20,30,40,50]

labels = ['Young','Middle Aged','Senior']

df['age_group'] = pd.cut(df['age'], bins= bins, labels= labels,right=False)

print(df)

   age    age_group
0   25        Young
1   30  Middle Aged
2   35  Middle Aged
3   40       Senior
4   45       Senior

In [3]:
df1 = pd.DataFrame({'number':np.random.randint(1,100,10)})

df1['bins'] = pd.cut(x=df1['number'],bins=[1,20,40,60,80,100],labels=['1 to 20','21 to 40','41to 60','61 to 80','81 to 100'], right=False)

print(df1)

print(df1['bins'].unique())

   number       bins
0      55    41to 60
1      51    41to 60
2      82  81 to 100
3      47    41to 60
4      52    41to 60
5       8    1 to 20
6      91  81 to 100
7      64   61 to 80
8      40    41to 60
9      56    41to 60
['41to 60', '81 to 100', '1 to 20', '61 to 80']
Categories (5, object): ['1 to 20' < '21 to 40' < '41to 60' < '61 to 80' < '81 to 100']

In [4]:
df = pd.DataFrame({'income':[50000,55000,60000,65000,70000]})

bins = [45000,55000,65000,75000]

bins_names = ['Low','Middle','High']

df['Income_group'] = pd.cut(df['income'], bins= bins, labels= bins_names,right=False)

print(df)

   income Income_group
0   50000          Low
1   55000       Middle
2   60000       Middle
3   65000         High
4   70000         High

In [5]:
data = {'Month': ['Jan', 'Jan', 'Jan', 'Feb', 'Feb', 'Feb', 'Mar', 'Mar', 'Mar'],
        'Year': [2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020],
        'Expense Type': ['Rent', 'Food', 'Transportation', 'Rent', 'Food', 'Transportation', 'Rent', 'Food', 'Transportation'],
        'Expense Amount': [1000, 500, 200, 900, 400, 150, 800, 450, 175]}
df = pd.DataFrame(data)

pivot_table = df.pivot(index='Month',columns='Expense Type', values='Expense Amount')

print(pivot_table)

Expense Type  Food  Rent  Transportation
Month
Feb            400   900             150
Jan            500  1000             200
Mar            450   800             175

In [6]:
data = { 'Month': ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
        'Year':[2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020],
        'Product': ['A','A','A','B','B','B','C','C','C','D','D','D'],
        'Sales': [100,200,150,250,200,175,300,350,400,450,500,550]
}
# Create a Pandas DataFrame from the data dictionary
df =pd.DataFrame(data)

pivot_table =  df.pivot(index='Month',columns='Product', values='Sales')
print(pivot_table)

Product      A      B      C      D
Month
Apr        NaN  250.0    NaN    NaN
Aug        NaN    NaN  350.0    NaN
Dec        NaN    NaN    NaN  550.0
Feb      200.0    NaN    NaN    NaN
Jan      100.0    NaN    NaN    NaN
Jul        NaN    NaN  300.0    NaN
Jun        NaN  175.0    NaN    NaN
Mar      150.0    NaN    NaN    NaN
May        NaN  200.0    NaN    NaN
Nov        NaN    NaN    NaN  500.0
Oct        NaN    NaN    NaN  450.0
Sep        NaN    NaN  400.0    NaN

In [7]:
data = {'Loan ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        'Loan Amount': [10000, 20000, 15000, 25000, 20000, 17500, 30000, 35000, 40000, 45000],
        'Interest Rate': [0.05, 0.06, 0.07, 0.05, 0.04, 0.06, 0.05, 0.04, 0.07, 0.06],
        'Loan Term': [36, 60, 48, 36, 60, 36, 36, 48, 60, 36],
        'Borrower Credit Score': [700, 750, 675, 725, 700, 650, 750, 775, 690, 725]}
df = pd.DataFrame(data)

grouped = df.groupby('Interest Rate')

grouped_mean = grouped.mean()

print(grouped_mean)

               Loan ID   Loan Amount  Loan Term  Borrower Credit Score
Interest Rate
0.04               6.5  27500.000000       54.0             737.500000
0.05               4.0  21666.666667       36.0             725.000000
0.06               6.0  27500.000000       44.0             708.333333
0.07               6.0  27500.000000       54.0             682.500000

In [8]:
grouped = df.groupby(['Interest Rate','Loan Term'])

grouped_mean = grouped.mean()

print(grouped_mean)

                         Loan ID   Loan Amount  Borrower Credit Score
Interest Rate Loan Term
0.04          48             8.0  35000.000000                  775.0
              60             5.0  20000.000000                  700.0
0.05          36             4.0  21666.666667                  725.0
0.06          36             8.0  31250.000000                  687.5
              60             2.0  20000.000000                  750.0
0.07          48             3.0  15000.000000                  675.0
              60             9.0  40000.000000                  690.0

In [9]:
# First dataset
sales_data1 = {
    'Product ID': [1, 2, 3, 4, 5],
    'Product Name': ['Laptop', 'Smartphone', 'Tablet', 'Printer', 'Monitor'],
    'Sales Quantity': [10, 15, 20, 5, 12],
    'Revenue': [1000, 1500, 2000, 500, 1200]
}

df1 = pd.DataFrame(sales_data1)

# Second dataset
sales_data2 = {
    'Product ID': [1, 2, 4, 6, 7],
    'Region': ['North', 'South', 'West', 'East', 'North'],
    'Discount': [0.1, 0.15, 0.05, 0.05, 0.2]
}

df2 = pd.DataFrame(sales_data2)

# Merge the two datasets based on "Product ID"
merged_sales_data = pd.merge(df1, df2, on='Product ID')

print(merged_sales_data)

   Product ID Product Name  Sales Quantity  Revenue Region  Discount
0           1       Laptop              10     1000  North      0.10
1           2   Smartphone              15     1500  South      0.15
2           4      Printer               5      500   West      0.05

In [10]:
loan_data1={
    'Loan ID':[1,2,3,4,5],
    'Customer Name,':['John','Jane','Jim','Jill','Jack'],
    'Loan Amount':[10000,20000,15000,25000,18000],
    "Interest Rate":[0.05,0.06,0.07,0.01,0.06]   
}

df1=pd.DataFrame(loan_data1)


loan_data2={
    'Loan ID':[2,3,4,6,7],
    'Loan Purpose':['Education','Home Imporovment','Business','Vehicle','Personal'],
    'Loan Term':[5,10,15,20,25]
}

df2=pd.DataFrame(loan_data2)


result = pd.merge(df1,df2,on='Loan ID',how='left')

print(result)

   Loan ID Customer Name,  Loan Amount  Interest Rate      Loan Purpose  \
0        1           John        10000           0.05               NaN
1        2           Jane        20000           0.06         Education
2        3            Jim        15000           0.07  Home Imporovment
3        4           Jill        25000           0.01          Business
4        5           Jack        18000           0.06               NaN

   Loan Term
0        NaN
1        5.0
2       10.0
3       15.0
4        NaN

In [11]:
# Create two sample dataframes
df1 = pd.DataFrame({'Month': ['Jan', 'Feb', 'Mar'],
                    'Sales': [1000, 2000, 3000]})

df2 = pd.DataFrame({'Month': ['Apr', 'May', 'June'],
                    'Expenses': [100, 200, 300]})

# Concatenate the two dataframes
result = pd.concat([df1, df2], axis=1)

print(result)

  Month  Sales Month  Expenses
0   Jan   1000   Apr       100
1   Feb   2000   May       200
2   Mar   3000  June       300

In [12]:
# Create two sample dataframes
df1 = pd.DataFrame({'Month': ['Jan', 'Feb', 'Mar'],
                    'Sales': [1000, 2000, 3000]})

df2 = pd.DataFrame({'Month': ['Apr', 'May', 'June'],
                    'Expenses': [4000, 5000, 6000]})

df3 = pd.DataFrame({'Month': ['Jul','Aug','Sep'],
                    'Expenses': [7000, 8000, 9000]})

# Concatenate the two dataframes
result = pd.concat([df1, df2, df3], axis=1)

print(result)

  Month  Sales Month  Expenses Month  Expenses
0   Jan   1000   Apr      4000   Jul      7000
1   Feb   2000   May      5000   Aug      8000
2   Mar   3000  June      6000   Sep      9000

In [13]:
# Sample data with categorical variables
data = {'fruit': ['apple', 'banana', 'orange', 'banana', 'apple', 'orange']}

# Create a dataframe from the sample data
df = pd.DataFrame(data)

# Perform one hot encoding on the 'fruit' column
df = pd.get_dummies(df, columns=['fruit'])

# Check the resulting dataframe
print(df)

   fruit_apple  fruit_banana  fruit_orange
0            1             0             0
1            0             1             0
2            0             0             1
3            0             1             0
4            1             0             0
5            0             0             1

As you can see, the fruit column has been transformed into three separate columns, one for each unique value in the original column. The new columns represent the presence or absence of each value and are indicated by 1s and 0s respectively.