In [1]:
# There are only 4 steps to be followed in order to use Regular Expressions in python:
#     1. Import re module which is the Regular Expressions module in python. All the functions and features required to perform regular expression search in python can be accessed by importing the re module.
#     2. Next steps is to create the Regular Expressions Pattern. 
#Pattern is basically the format or structure of the string that we are trying to search. In Regular Expressions, we have several different character classes, symbols and special characters which will help us to identify every kind of characters or symbols hence making it possible to define a pattern to search of any type of string.
#     3. Once the pattern is defined, next step is to search for this pattern in the given text or data.
#     4. Finally, we extract all the matched string.

In [2]:
# Regular expressions allows for pattern searching

In [3]:
# Every character type has a corresponding pattern code
# For example, digits have a placeholder pattern code of \d
# The use of backslash allows the python to understand that this is a special character and not letter d


#for example for a format of a phone number : 408-555-1235

# 3 digits - 3 digits - 4 digits
# r'\d\d\d-\d\d\d-\d\d\d\d'
# r'\d{3}-\d{3}-\d{4}' ---> syntax

#

In [63]:
# r - raw string, raw string literal 
# escape sequence in python

print('\t chirantan is mad')

	 chirantan is mad

In [64]:
print(r'\t chirantan is mad')

\t chirantan is mad

In [ ]:
pd.read_csv(r'c:\users\docs\present.csv')

In [66]:
name ='chirantan'
company = 'futurense'

print(f'Hello, my name is {name} and I work at {company}')

Hello, my name is chirantan and I work at futurense

In [61]:
text = "The phone number of the agent is 408-555-1235. Call soon !"

In [5]:
# checking for string inside another string

"phone" in text

True

In [6]:
# how to search for a phone number of the above format

import re

In [7]:
pattern = "phone"

In [8]:
re.search(pattern,text)

In [9]:
#or

my_match = re.search(pattern,text)

In [10]:
my_match.span()

# this means that the string phone "phone" , is at 4th index in the text and ends at 9th

(4, 9)

In [11]:
my_match.start()

4

In [12]:
my_match.end()

9

In [13]:
# pattern occurs more than one time

text_redefined = "My phone is a new phone"

In [14]:
match = re.search(pattern,text_redefined)

In [15]:
match.span()

# in this case, it is giving me the pattern match for just the first match -

(3, 8)

In [16]:
# instead when we have repeat occurences, we prefer find_all


all_matches = re.findall("phone",text_redefined)

In [17]:
all_matches

['phone', 'phone']

In [18]:
len(all_matches)

2

In [19]:
for match in re.finditer("phone",text_redefined):
    print(match.span())
    
    #returning an iteration of all the match objects

(3, 8)
(18, 23)

### Now searching for generalised patterns and not specific strings

In [20]:
# Quantifiers

text

'The phone number of the agent is 408-555-1235. Call soon !'

In [21]:
pattern = r'\d\d\d-\d\d\d-\d\d\d\d'

# pattern for 3 digits-3 digits-4 digits

In [22]:
phone_number = re.search(pattern,text)

In [23]:
phone_number

In [24]:
# to find what it matched on 

phone_number.group()

'408-555-1235'

In [25]:
# somtimes writing \d many times can be tiresome
# that is when we introduce quantifiers

In [26]:
pattern = r'\d{3}-\d{3}-\d{4}'

In [27]:
re.search(pattern,text)

In [28]:
# you can also grab indiviual groups out of the number
# by putting in parantheses

pattern = r'(\d{3})-(\d{3})-(\d{4})'

In [29]:
my_match = re.search(pattern,text)

In [30]:
my_match

In [31]:
my_match.group()

'408-555-1235'

In [32]:
#grabbing indiviually

my_match.group(1)

'408'

In [33]:
my_match.group(2)

'555'

In [34]:
my_match.group(3)

'1235'

In [35]:
# using pipe operator for OR operator

re.search("man|woman","This man was here in Los Angeles")

In [36]:
re.search("man|woman","This woman was here in Los Angeles")

In [37]:
# using WILDCARD operator

re.findall(r'.at',"The cat in that hat sat")

['cat', 'hat', 'hat', 'sat']

In [38]:
# .at - . at the start means it will only match on only one character before at

re.findall(r'.at',"The cat in that hat sat and splat")

['cat', 'hat', 'hat', 'sat', 'lat']

In [39]:
re.findall(r'..at',"The cat in that hat sat and splat")

[' cat', 'that', ' hat', ' sat', 'plat']

In [40]:
# when i put an extra . in the wildcard operator, it allows to take 2 more additional chars before at
# if there's none, it will take the space

In [41]:
# start and end with a particular character
# use ^ (shift + 6)
# ^ signals that it starts with and $ signals that it ends with

In [42]:
re.findall(r'\d$','This ends with a number 2')

['2']

In [43]:
phrase = "There are 3 numbers 34 inside this 5 sentence"

In [44]:
# now you want to get rid of all the numbers inside this sentence

In [45]:
re.findall(r'[^\d]',phrase) # [^]-> exclusion

['T',
 'h',
 'e',
 'r',
 'e',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 's',
 ' ',
 ' ',
 'i',
 'n',
 's',
 'i',
 'd',
 'e',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 ' ',
 's',
 'e',
 'n',
 't',
 'e',
 'n',
 'c',
 'e']

In [46]:
# [^] means exclusion , ^ carrot inside the [] means exclusion
# we are saying exclude all the digits 
# in output, in place of the numbers, we get spaces
# \d are digits

In [47]:
re.findall(r'[\d]',phrase) # []

# this will only extract numbers from the phase

['3', '3', '4', '5']

In [48]:
# or this too
re.findall(r'\d',phrase)

['3', '3', '4', '5']

In [49]:
# if we want anything that is not a digit
re.findall(r'[^\d]+',phrase)

['There are ', ' numbers ', ' inside this ', ' sentence']

In [50]:
# we do this in order to remove punctuation in Natural Language Processing

In [51]:
test_phrase = "This is a string! But it has a punctuation. How to remove it?"

In [52]:
re.findall(r'[^!.? ]+',test_phrase)

['This',
 'is',
 'a',
 'string',
 'But',
 'it',
 'has',
 'a',
 'punctuation',
 'How',
 'to',
 'remove',
 'it']

In [53]:
# we are getting a list which has no punctuation

In [54]:
punc_list = re.findall(r'[^!.? ]+',test_phrase) # we are excluding !.? space as well
punc_list

['This',
 'is',
 'a',
 'string',
 'But',
 'it',
 'has',
 'a',
 'punctuation',
 'How',
 'to',
 'remove',
 'it']

In [55]:
# we can join this list using .join method

' '.join(punc_list)

'This is a string But it has a punctuation How to remove it'

In [56]:
# find the words that are hyphenated

text = "Find hyphenated-words for me. Hey, how long-ish does this route take to reach the destination?"

In [57]:
# alpha numerics are indicated by \w
# + indicates any number

re.findall(r'[\w]+-[\w]+',text)

['hyphenated-words', 'long-ish']